<section class="section" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="mx-auto col-md-9 padding-bottom padding-top">
      <div class="card" style="width: auto">
        <header class="card-header">
          <a><%= link_to "Log in", new_session_path(resource_name), :class => "float-right btn btn-outline-primary mt-1" %></a>
          <h4 class="card-title mt-2">Sign up</h4>
        </header>
        <article class="card-body mx-2">
          <br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <form>

              <div class="form-row">

                <div class="col form-group">
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <%= f.text_field :name, required: true, :class => "form-control", :placeholder => "First name", :type => "text" %>
                  </div> <!-- form-group// -->
                </div>
              </div>


              <div class="form-row">
                <div class="col form-group">
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <%= f.text_field :last_name, required: true, :class => "form-control", :placeholder => "Last name", :type => "text" %>
                  </div> <!-- form-group// -->
                </div>
              </div> <!-- form-row end.// -->

              <div class="form-group">
                <label class="form-check form-check-inline">
                  <%= f.radio_button :is_male, true, :checked => false, :value => true, :class => "form-check-input", required: true %>
                  <span class="form-check-label"> Male </span>
                </label>
                <label class="form-check form-check-inline">
                  <%= f.radio_button :is_male, false, :checked => false, :value => false, :class => "form-check-input" %>
                  <span class="form-check-label"> Female</span>
                </label>
              </div> <!-- form-group end.// -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>City</label>
                  <%= f.text_field :city, required: true, :class => "form-control", :placeholder => "" %>
                </div> <!-- form-group end.// -->

                <div class="form-group col-md-6">
                  <label>Country</label>
                  <%= f.text_field :country, :class => "form-control", :value => "Spain", readonly: true %>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row.// -->

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Address</label>
                  <%= f.text_field :street, required: true, :class => "form-control", :placeholder => "" %>
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                  <label>Zip</label>
                  <%= f.text_field :zip, required: true, :class => "form-control", :placeholder => "", :type => "number" %>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row.// -->

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select disabled class="custom-select" style="max-width: 120px;">
                  <option selected="">+34</option>
                  <option value="1">+972</option>
                </select>
                <%= f.text_field :phone, required: true, :class => "form-control", :placeholder => "Phone number", :type => "number" %>
              </div> <!-- form-group// -->


              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-at"></i> </span>
                </div>
                <%= f.email_field :email, required: true, autofocus: false, autocomplete: "email", :class => "form-control", :placeholder => "Email address" %>
              </div> <!-- form-group// -->

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <%= f.password_field :password, required: true, autocomplete: "new-password", :class => "form-control input-lg", :placeholder => "Create password" %>
              </div> <!-- form-group// -->
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, :class => "form-control input-lg", :placeholder => "Repeat password" %>
              </div> <!-- form-group// -->

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Register</button>
              </div> <!-- form-group// -->
              <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of
                use and Privacy Policy.
              </small>
            </form>
          <% end %>
        </article> <!-- card-body end .// -->
        <div class="border-top card-body text-center">Have an account?
          <a><%= link_to "Log In", new_session_path(resource_name) %></a></div>

      </div>

    </div>
  </div>
</section>
