<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= yield (:body_class) %>">

<header class="section-header">
  <nav class="navbar navbar-top navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <i class="fa fa-phone"></i> Call us: +34 673 123 342 </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
            <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">EUR</a></li>
              <li><a class="dropdown-item" href="#">USD</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
            <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Spanish</a></li>
              <li><a class="dropdown-item" href="#">Catalan </a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li><%= link_to "Shop", categories_path, class: "nav-link" %></li>
          <li><%= link_to "About us", welcome_path, class: "nav-link" %></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
  </nav>

  <section class="header-main">
    <div class="container">
      <div class="row align-items-lg-start">
        <div class="col-lg-5-24 col-sm-5 col-4">
          <div class="brand-wrap">
            <b> - </b><%=link_to image_tag(('logo'), :class => 'logo'), root_path %>
          </div> <!-- brand-wrap.// -->
        </div>

        <!-- search -->
        <div class="col-lg-13-24 col-sm-12 order-3 order-lg-2">
          <%= form_tag products_path, :method => 'get', :autocomplete => 'off' do %>
            <div class="input-group w-100">
              <%= text_field_tag :search, params[:search], :style => 'width:60%;', :class => 'form-control', :placeholder => 'Search' %>
              <%= button_tag '', :class => 'btn btn-primary' do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="col-lg-6-24 col-sm-7 col-8  order-3 order-lg-3">
          <div class="d-flex justify-content-end">
            <%= render '/layouts/user_widget_status' %>
          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->

      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>


<%= yield %>


<footer class="section-footer bg-secondary" style="margin-top: 10%;">
  <div class="container">
    <section class="footer-top padding-top">
      <div class="row">
        <aside class="col-sm-3 col-md-3 white">
          <h5 class="title">Legal Aspects</h5>
          <ul class="list-unstyled">
            <li><%=link_to " Privacy Policy ", privacy_path %></li>
            <li><%=link_to " Terms of Use ", terms_path %></li>

          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">My Account</h5>
          <ul class="list-unstyled">
            <li><%=link_to " User Login ", new_user_session_path %></li>
            <li><%=link_to " User Register ", new_user_registration_path%></li>
            <li><%=link_to " Account Setting ", edit_user_registration_path%></li>
            <li><a href="#"> My Orders </a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">About</h5>
          <ul class="list-unstyled">
            <li><a href="#"> Our history </a></li>
            <li><a href="#"> How to buy </a></li>
            <li><a href="#"> Delivery and payment </a></li>
          </ul>
        </aside>
        <aside class="col-sm-3">
          <article class="white">
            <h5 class="title">Contacts</h5>
            <p>
              <strong>Phone: </strong> +34 673 123 342 <br>
              <strong>Fax:</strong> +34 673 123 342
            </p>

            <div class="btn-group white">
              <a class="btn btn-facebook" title="Facebook" target="_blank" href="#"><i class="fa fa-facebook-f  fa-fw"></i></a>
              <a class="btn btn-instagram" title="Instagram" target="_blank" href="#"><i class="fa fa-instagram  fa-fw"></i></a>
              <a class="btn btn-youtube" title="Youtube" target="_blank" href="#"><i class="fa fa-youtube  fa-fw"></i></a>
              <a class="btn btn-twitter" title="Twitter" target="_blank" href="#"><i class="fa fa-twitter  fa-fw"></i></a>
            </div>
          </article>
        </aside>
      </div> <!-- row.// -->
      <br>
    </section>
  </div><!-- //container -->
</footer>


<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>

<script>
    var products = <%= Product.all.to_json.html_safe %>;
    var titles = new Array(products.length)
    for (i = 0; i < products.length; i++) {
        titles[i] = products[i].title;
    }
    autocomplete(document.getElementById("search"), titles);
</script>

</body>
</html>