<!DOCTYPE html>
<html>
<head>
  <title>ECommerce</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= yield (:body_class) %>">

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>

<header class="section-header">
  <nav class="navbar navbar-top navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> <i class="fa fa-phone"></i> Call us: 020 2366 455 </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
            <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">EUR</a></li>
              <li><a class="dropdown-item" href="#">USD</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
            <ul class="dropdown-menu small">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Spanish</a></li>
              <li><a class="dropdown-item" href="#">Catalan </a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li><%= link_to "Shop", categories_path, class: "nav-link" %></li>
          <li><%= link_to "About us", welcome_path, class: "nav-link" %></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
  </nav>

  <section class="header-main">
    <div class="container">
      <div class="row align-items-lg-start">
        <div class="col-lg-5-24 col-sm-5 col-4">
          <div class="brand-wrap">
            <img class="logo" src="/assets/logo-dark.png">
            <h2 class="logo-text">LOGO</h2>
          </div> <!-- brand-wrap.// -->
        </div>

        <div class="col-lg-13-24 col-sm-12 order-3 order-lg-2">
          <!-- search empty-->
        </div>

        <div class="col-lg-6-24 col-sm-7 col-8  order-3 order-lg-3">
          <div class="d-flex justify-content-end">
            <%= render '/layouts/user_widget_status' %>
          </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->

      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->

</header>


<%= yield %>

<footer class="section-footer bg-secondary ">
  <div class="container">
    <section class="footer-top padding-top">
      <div class="row">
        <aside class="col-sm-3 col-md-3 white">
          <h5 class="title">Customer Services</h5>
          <ul class="list-unstyled">
            <li> <a href="#">Help center</a></li>
            <li> <a href="#">Money refund</a></li>
            <li> <a href="#">Terms and Policy</a></li>
            <li> <a href="#">Open dispute</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">My Account</h5>
          <ul class="list-unstyled">
            <li> <a href="#"> User Login </a></li>
            <li> <a href="#"> User register </a></li>
            <li> <a href="#"> Account Setting </a></li>
            <li> <a href="#"> My Orders </a></li>
            <li> <a href="#"> My Wishlist </a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">About</h5>
          <ul class="list-unstyled">
            <li> <a href="#"> Our history </a></li>
            <li> <a href="#"> How to buy </a></li>
            <li> <a href="#"> Delivery and payment </a></li>
            <li> <a href="#"> Advertice </a></li>
            <li> <a href="#"> Partnership </a></li>
          </ul>
        </aside>
        <aside class="col-sm-3">
          <article class="white">
            <h5 class="title">Contacts</h5>
            <p>
              <strong>Phone: </strong> +123456789 <br>
              <strong>Fax:</strong> +123456789
            </p>

            <div class="btn-group white">
              <a class="btn btn-facebook" title="Facebook" target="_blank" href="#"><i class="fa fa-facebook-f  fa-fw"></i></a>
              <a class="btn btn-instagram" title="Instagram" target="_blank" href="#"><i class="fa fa-instagram  fa-fw"></i></a>
              <a class="btn btn-youtube" title="Youtube" target="_blank" href="#"><i class="fa fa-youtube  fa-fw"></i></a>
              <a class="btn btn-twitter" title="Twitter" target="_blank" href="#"><i class="fa fa-twitter  fa-fw"></i></a>
            </div>
          </article>
        </aside>
      </div> <!-- row.// -->
      <br>
    </section>
    <section class="footer-bottom row border-top-white">
      <div class="col-sm-6">
        <p class="text-white-50"> Made with &lt;3 <br>  by Vosidiy M.</p>
      </div>
      <div class="col-sm-6">
        <p class="text-md-right text-white-50">
          Copyright ©  <br>
          <a href="http://bootstrap-ecommerce.com" class="text-white-50">Bootstrap-ecommerce UI kit</a>
        </p>
      </div>
    </section> <!-- //footer-top -->
  </div><!-- //container -->
</footer>


<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>

</body>
</html>
